{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
  
    <div class="page-wraper">
        <!-- HEADER START -->
     
        <!-- HEADER END -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper"
                 style="background-image:url(/static/public/images/banner/about-banner.jpg);">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <h1 class="text-white">We Know How To Grow Your Finance</h1>
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            <!-- BREADCRUMB ROW -->
            <div class="bg-gray-light p-tb20">
                <div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="{% url 'indexurl:index' %}"><i class="fa fa-home"></i> Home</a></li>
                        <li>About US</li>
                    </ul>
                </div>
            </div>
            <!-- BREADCRUMB  ROW END -->
            <!-- ABOUT COMPANY SECTION START -->
            <div class="section-full p-tb100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="section-head text-left">
                                <span class="wt-title-subline text-gray-dark font-16 m-b15"></span>
                                <h2 class="text-uppercase">ABOUT US </h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-primary"></div>
                                </div>
                                <p style="text-align:justify;">Octal online traderfx is investment arbitrage with a distinguished reputation, innovative approach and profitable working conditions. These are our main advantages and this is why we are the choice of over 100,000 clients from different countries around the globe</p>
                                <p style="text-align:justify;">The company Octal online traderfx was founded in 2012 trading on cryptocurrency including btc mining. In 2016 a group of professional FOREX traders with the aim of accumulating assets of several large investors for the most efficient trading on the currency and stock markets decided to change this for a better goal. Since the founding of Octal online traderfx, our principles have been absolute transparency, dedication to our clients, as well as a complete understanding of the features of our profile market and the expectations of different types of investors.</p>
                                <p style="text-align:justify;">For more than three years we cooperated only with large investment funds and serious investors from Western Europe, China and India. Thanks to the trust of such important FOREX markets players to our company, we were able to achieve unsurpassed results in this industry and at the beginning of 2018 we began to develop a special investment direction for private investors. </p>
                                <h2>What is IGO and How to Participate Octal online traderfx’s IGO?</h2>
                                <p style="text-align:justify">Octal online traderfx is here to bring a new breath to the gaming industry while providing cutting-edge opportunities to developers, entrepreneurs, and investors. </p>
                                <p style="text-align:justify"> New offerings in the blockchain environment have always been exciting for the actors of this area. There are several examples that you already heard or even participated in: </p>
                                <ul class="list-check-circle primary">
                                    <li>Initial Coin Offering (ICO) is the cryptocurrency industry’s equivalent to an initial public offering (IPO)</li>
                                    <li> Initial Exchange Offering (IEO) is a process that projects go through a detailed control process by the exchange platform, thus the only user of this particular platform would be allowed to purchase initially offered tokens.</li>
                                    <li> Initial Dex Offering (IDO) is a process of launching a token through a decentralized liquidity exchange,</li>
                                    <!--<li> Instantly see your unrealized profits</li>-->

                                </ul>
                                <p style="text-align:justify"> IDO has been especially popular in the blockchain ecosystem with its various advantages such as decentralization, immediate liquidity, low cost, open and fair crowd-funding, and the opportunity to trade with offered tokens instantly.</p>
                                <p style="text-align:justify">Therefore, we as Octal online traderfx, are proud to use Initial Gaming Offering (IGO). In this article, you will find out what IGO is and how you can make the most of it.</p>
                                <h2 >What is IGO?  </h2>
                                <p style="text-align:justify">IGO offers users a blockchain game-oriented experience on Octal online traderfx that ICO, IEO, and IDO offer as well. Blockchain game projects can realize the initial offerings of their tokens on Octal online traderfx. Thus IGO, allows the blockchain game project owners to be able to enjoy these advantages while the investors are able to reach and invest in the project without any middleman. </p>
                                <!--<ul class="list-check-circle primary">
                                    <li style="text-align:justify">There are several ways to make money off the cryptocurrency market, by hoarding, investing, trading or mining. By hoarding, you hold a particular amount of coins in your portfolio and hope for appreciation in the value. In this case, what you hold is affected by fluctuations in both directions, hence exposed to risks.  </li>
                                    <li style="text-align:justify">Trading, and investing involves analysis of the markets by experts and taking positions on expected directions to earn as the trend follows prediction. This is currently a huge source of income in the cryptocurrency market. Mining involves the use of large scale equipments called miners to multiply a particular amount of digital currency introduced into these miners over a period of time. This requires a huge sum of energy nor easily acquired.</li>
                                    <li style="text-align:justify">Basically , we help you handle these investments and trade in cryptocurrency and stocks, make gains of over 500% for little fees remitted at the point of withdrawal. </li>
                                </ul>-->
                                <h2 >Seedify Fund — Warriors of Aradena Game Incubation Announcement </h2>
                                <p style="text-align:justify">First of all, you need to complete your KYC process. Here you can find a comprehensive guide for each and every step of the KYC verification process. </p>
                                <!--<p style="text-align:justify">Perform your own due diligence and choose a wallet where you will keep your bitcoin before selecting an exchange. Bitcoin is different than what you know and use every day. Before you start using Bitcoin, there are a few things that you need to know in order to use it securely and avoid common pitfalls. Just a few click your account is ready. </p>-->

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="wt-media">
                                <img src="/static/public/images/background/trm.png" alt="" class="img-responsive">
                                <h2>Your Crypto Trading Platform and Much More  </h2>
                                <p style="text-align:justify">Buy, sell, and trade cryptocurrencies all in a single hassle-free crypto trading platform, packed with the tools and technology crypto traders need.    </p>
                                <p style="text-align:justify">Our support personnel are humane and take customers’ concerns and questions seriously, assisting them on a wide range of issues from opening an account, to trading, to transfer and withdrawal of funds.  </p>
                                <ul class="list-check-circle primary">
                                    <li>Buy, sell and hold BCH, BTC, ETH, LTC, and USDC</li>
                                    <li> One-click order entry</li>
                                    <li> Easily keep track of your interest income</li>
                                    <li> Instantly see your unrealized profits</li>

                                </ul>
                                <!--<p style="text-align:justify"> Our customer service team boasts of high training and you can reach them any time of the day through email, phone, and live chat. Get in touch with us today and let us assist you avail yourself of the several opportunities coming up currently in the capital markets, and get into the mainstream of Cryptocurrencies trading.</p>-->
                                <h2>Seedify Fund - Historical Moment  </h2>
                                <p style="text-align:justify">This will be a historic moment, as Seedify-Fund and WoA team will be pioneering the bridging between an NFT Avatar Drop and their Play-to-Earn game incubation. Holders of the Warriors of Aradena “Genesis” NFT Avatar Set, will be getting in-game benefits, so if you are looking to play the turn-based miniature strategy game we are incubating with WoA, you should definitely set your alarm clocks for the NFT minting event that will take place at 20:30 UTC, August 10th on their website.</p>
                                
                                
                                
                                <!--<ul class="list-check-circle primary">
                                    <li>40,000+ funds from 400 fund families</li>
                                    <li>7,700+ with no transaction fees</li>
                                    <li>Available to residents worldwide</li>
                                </ul>-->
                                <!--<h2>Advantages of Trading Mutual Funds  </h2>-->

                                <p style="text-align:justify">
                                    Seedify-Fund will be incubating WoA’s turn-based play-to-earn miniature strategy game, supporting it to become a widely adopted game through many aspects such as game design, marketing, partnerships, gamification, strategic advisory and exclusively holding the fundraising rounds of their in-game token at Octal online traderfx.fund Blockchain Gaming Launchpad open to SFUND holders.
                                </p>
                                <p style="text-align:justify">Drawing inspiration from tabletop miniature games like Warhammer, and video games similar to Heroes of Might and Magic, WoA’s game is going to be a completely new take on the tabletop genre, with 3D miniatures, engaging skill & strategy based gameplay for those who want to not only compete and rise through the ranks, but to dominate to earn more!</p>
                                <p style="text-align:justify">What is more, today we will be releasing a viral campaign to reward “Genesis” Warriors of Aradena NFT avatars, from the upcoming set, to 50 lucky winners who participate in the lottery!</p>
                                 <!--<ul class="list-check-circle primary"><li>Deep selection of Mutual Funds. Choose among more than 2,000 mutual funds.</li>
                                <li>Expertise. Invest with well-known fund managers and benefit from their experience.</li>
                                <li>Diversification. Look to mutual funds to diversify your portfolio and manage risk.</li></ul>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ABOUT COMPANY SECTION END -->
            <!-- WHY CHOOSE US SECTION START  -->
            <div class="section-full  p-t80 p-b80 bg-gray">
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center">
                        <h2 class="text-uppercase">Why Choose Octal online traderfx</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE END-->
                    <div class="section-content no-col-gap">
                        <div class="row">

                            <!-- COLUMNS 1 -->
                            <div class="col-md-4 col-sm-6 animate_line">
                                <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                                    <div class="icon-lg text-primary m-b20">
                                        <a href="#" class="icon-cell">
                                            <img src="/static/public/images/icon/pick-29.png" alt="">
                                        </a>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="wt-tilte text-uppercase font-weight-500">Instant Trading</h4>
                                        <p style="text-align:justify; margin:7px;">
                                            Change your world today and make yourself a great tomorrow, invest with the
                                            little money you have and make a great profit at the end.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 2 -->
                            <div class="col-md-4 col-sm-6 animate_line">
                                <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                                    <div class="icon-lg text-primary m-b20">
                                        <a href="#" class="icon-cell">
                                            <img src="/static/public/images/icon/pick-28.png" alt="">
                                        </a>
                                    </div>
                                    <div class="icon-content ">
                                        <h4 class="wt-tilte text-uppercase font-weight-500" >Experts Support</h4>
                                        <p style="text-align:justify; margin:12px;">
                                            Get support and inspiration from like-minded people and share your
                                            achievements.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 3 -->
                            <div class="col-md-4 col-sm-6 animate_line">
                                <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                                    <div class="icon-lg text-primary m-b20">
                                        <a href="#" class="icon-cell">
                                            <img src="/static/public/images/icon/pick-17.png" alt="">
                                        </a>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="wt-tilte text-uppercase font-weight-500" >Safe and Secure</h4>
                                        <p style="text-align:justify; margin:5px;">With advanced security systems, we keep your account always protected.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- WHY CHOOSE US SECTION END -->
            <!-- FOOTER START -->
            <footer class="site-footer bg-no-repeat bg-full-height bg-center" style="background-image:url(/static/public/images/background/footer-bg.jpg);">
                <!-- FOOTER BLOCKES START -->
                <div class="footer-top overlay-wraper">
                    <div class="overlay-main bg-black opacity-05"></div>
                    <div class="container">
                        <div class="row">
                            <!-- ABOUT COMPANY -->
                            <div class="col-md-4 col-sm-6">
                                <div class="widget widget_about">
                                    <div class="logo-footer clearfix p-b15">
                                        <a href="index-3.html"><img src="/static/public/images/imarketlive.png" width="230" height="67" alt="" /></a>
                                    </div>
                                    <p style="text-align:justify">
                                        Since its establishment, we have shown commendably successful and consistent
                                        performance
                                        and trading history. Currently, it is regarded as one of the best, most beneficial,
                                        brilliantly successful companies in the industry of Crypto trading and investing.

                                    </p>
                                </div>
                            </div>
                            <!-- USEFUL LINKS -->
                            <div class="col-md-4 col-sm-6">
                                <div class="widget widget_services">
                                    <h4 class="widget-title text-white">Useful links</h4>
                                    <ul>
                                        <li><a href="index-2.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="terms.html">Terms</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6  p-tb20 ">
                                <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                    <div class="icon-md text-primary">
                                        <span class="fa fa-support" style="font-size:50px"></span>
                                    </div>
                                    <div class="icon-content text-white">
                                        <h5 class="wt-tilte text-uppercase m-b0">24/7 Support</h5>
                                        <p class="m-b0"> <a href="#" style="color:#fff">Share your achievements.  </a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6  p-tb20 ">
                                <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                    <div class="icon-md text-primary">
                                        <span class="fa fa-telegram" style="font-size:50px"></span>
                                    </div>
                                    <div class="icon-content text-white">
                                        <h5 class="wt-tilte text-uppercase m-b0">Telegram</h5>
                                        <p class="m-b0"> <a href="https://t.me/seedfinancesupport" style="color:#fff">Join us</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-tb20">
                                <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                    <div class="icon-md text-primary">
                                        <span class="iconmoon-email"></span>
                                    </div>
                                    <div class="icon-content text-white">
                                        <h5 class="wt-tilte text-uppercase m-b0">Email</h5>
                                        <p class="m-b0"><a href="#'" style="color:#fff">support@octalonlintradersfx.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FOOTER COPYRIGHT -->
                <div class="footer-bottom  overlay-wraper">
                    <div class="overlay-main"></div>
                    <div class="constrot-strip"></div>
                    <div class="container p-t30">
                        <div class="row">
                            <div class="wt-footer-bot-left">
                                <span class="copyrights-text">
                                    &copy; 2022 Octal online traderfx. All Rights
                                    Reserved.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>Top</button>
            </footer>
            <!-- FOOTER END -->
            <!-- BUTTON TOP START -->
        
        </div>

       
</body>

{% endblock content %}